# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv-dev/
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytest.xml
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.quality/
mutants/


# IDEs
.idea/
.vscode/
*.swp

# Sample files
.sample/
*.pdf
*.mp3
/local/
.DS_Store

# Local development notes
/docs/development/
